<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        button {
            padding: 5px 10px;
        }

        iframe {
            border: 1px solid red;
        }

    </style>
</head>
<body>

<div>
    <button id="load">load client</button>
    <button id="unload">unload client</button>
    <button id="push">push data to client</button>
</div>
<br>
</body>
</html>
